/*for screen 1200px and below*/
@media only screen and (max-width: 1200px) {
    h2{
        font-size: 8rem;
    }
    .main-nav li a:visited,
    .main-nav li a:link {
        text-transform: uppercase;
        font-size: 4rem;
    }
}

/* for screen 768 to 1023 */
@media only screen and (max-width: 1023px) {
    h2{
        font-size: 6.5rem;
    }
    .main-nav li a:visited,
    .main-nav li a:link {
        text-transform: uppercase;
        font-size: 3rem;
    }
}

/* for screen 481 to 767 */
@media only screen and (max-width: 767px) {
    h2{font-size: 5rem;}
    .main-nav li a:visited,
    .main-nav li a:link {
        text-transform: uppercase;
        font-size: 1.8rem;
    }

}

/* for screen 0 to 480 */
@media only screen and (max-width: 480px) {
    h2{font-size: 4rem;}
    .main-nav li a:visited,
    .main-nav li a:link {
        text-transform: uppercase;
        font-size: 2rem;
    }
}